/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}

/* NAVIGATION BAR */
header::before{
    content: "";
    background: url('criketpic.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
}
/* navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
} */
#navbar{
    position: relative;
    align-items: center;
    display: flex;
    top: 0px;
    left: 0px;
}

/* logo Navbar*/
header{
    /* background-color: rgb(124, 27, 27); */
}
#logo {
    padding: 5px 30px;
    border-radius: 50%;
}
/* list styling Navbar*/
ul {
    display: flex;
    list-style: none;
    padding: 6px 4px;
    align-items: center;
}
li {
    font-size: 1.2rem;
    text-align: center;
    margin: 1px 10px;
    padding: 10px 24px;
}
li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 4px 30px;
    /* border: 2px solid rgb(241, 240, 240); */
    border-radius: 10px;
}
/*home Section 1 */
#home {
    /* height: 103%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    text-align: center;
}
.header1{
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
/* services */
.services {
    text-align: center;
    padding: 0px;
}
.container{
    background-image: linear-gradient(white,rgb(200, 214, 123),white);
    display: flex;
    margin: 10px 0px;
    padding: 10px 10px;
    /* border: 2px solid gray; */

}
.box{
    background-image: linear-gradient(rgb(82, 92, 63), white);
    color: white;
    border-radius: 10px;
    /* border: 2px solid black; */
    padding: 16px 10px;
    margin: 10px 10px;
}
.serviceimg {
    margin: 10px;
    height: 30vh;
    width: 20vw;
}
.sponcontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sponsorlogo{
    
}
.sponsorlogo img{
    width: 200px;
    height: 200px;

}
footer {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}